apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: jaejadle
  namespace: argocd
  annotations:
    argocd-image-updater.argoproj.io/image-list: jaejadle=gitea0213.kro.kr/bluemayne/jaejadle
    argocd-image-updater.argoproj.io/jaejadle.update-strategy: latest
    argocd-image-updater.argoproj.io/write-back-method: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default

  source:
    repoURL: https://gitea0213.kro.kr/bluemayne/jaejadle.git
    targetRevision: main
    path: deploy/argocd

  destination:
    server: https://kubernetes.default.svc
    namespace: argocd

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false

    syncOptions:
      - CreateNamespace=true

    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m

  revisionHistoryLimit: 10
