@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  /* 커스텀 브레이크포인트 */
  --breakpoint-smalltablet: 600px;
  --breakpoint-tablet: 600px;
  --breakpoint-pc: 990px;
}

@custom-variant smalltablet (@media (width >= 600px));
@custom-variant pc (@media (width >= 990px));

body {
  background: var(--background);
  color: var(--foreground);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans KR", sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-in-out;
}

.animate-fadeInFast {
  animation: fadeInFast 0.3s ease-in-out;
}
