apiVersion: apps/v1
kind: Deployment
metadata:
  name: jaejadle-app
  labels:
    environment: production
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: jaejadle-app
          resources:
            requests:
              memory: "100Mi"
              cpu: "25m"
            limits:
              memory: "200Mi"
