apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: jaejadle-ingress
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
spec:
  ingressClassName: traefik
  # TLS 설정
  tls:
  - hosts:
    - jaejadle.kro.kr
    - www.jaejadle.kro.kr
    secretName: jaejadle-tls
  rules:
    - host: jaejadle.kro.kr
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: jaejadle-service
                port:
                  number: 80
    - host: www.jaejadle.kro.kr
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: jaejadle-service
                port:
                  number: 80
